@{
    ViewData["Title"] = "Detalle Campaña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fade-in">

    <div class="card shadow p-4">

        <div class="d-flex justify-content-between mb-3">

            <h3 class="text-primary">
                <i class="bi bi-megaphone"></i> Detalle de Campaña
            </h3>

            <a href="/Campanas/Edit" class="btn btn-warning">
                <i class="bi bi-pencil"></i> Editar
            </a>

        </div>

        <hr>

        <p><strong>Cliente:</strong> Juan Pérez</p>
        <p><strong>Campaña:</strong> Redes Sociales</p>

        <p>
            <strong>Estado:</strong>
            <span class="badge bg-primary">En proceso</span>
        </p>

        <p><strong>Inicio:</strong> 01/05/2026</p>
        <p><strong>Fin:</strong> 10/05/2026</p>

        <hr>

        <h5 class="text-primary">Resumen</h5>

        <p>Campaña publicitaria enfocada en redes sociales con alcance nacional.</p>

    </div>

</div>