@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-success">Editar Cliente</h4>

<input class="form-control mb-2" value="Juan Pérez">
<input class="form-control mb-2" value="Empresa X">

<button class="btn btn-success">Guardar</button>
