@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-primary">Editar Cotización</h4>

<input class="form-control mb-2" value="Redes Sociales">
<input class="form-control mb-2" value="5 días">
<input class="form-control mb-2" value="Nacional">

<button class="btn btn-primary">Guardar</button>
