@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-primary">Configuración de Precios</h4>

<table class="table">
    <tr>
        <td>Redes Sociales</td>
        <td><input class="form-control" value="100"></td>
    </tr>
    <tr>
        <td>TV</td>
        <td><input class="form-control" value="500"></td>
    </tr>
</table>

<button class="btn btn-primary">Guardar</button>
