@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-primary">Servicios Publicitarios</h4>

<table class="table table-bordered">
    <thead class="table-primary">
        <tr>
            <th>Servicio</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Publicidad en Redes</td>
            <td>
                <button class="btn btn-warning btn-sm">Editar</button>
                <button class="btn btn-danger btn-sm">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<input class="form-control mt-3" placeholder="Nuevo servicio">
<button class="btn btn-primary mt-2">Agregar</button>
