@{
    ViewData["Title"] = "Recuperar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center fade-in">
    <div class="col-md-5">

        <div class="card shadow p-4">

            <h4 class="text-center text-primary">Térraba Comunicaciones</h4>
            <p class="text-center text-muted mb-3">Recuperar acceso - WCW SA</p>

            <input type="email" class="form-control mb-3" placeholder="Correo">

            <button class="btn btn-primary w-100">Enviar</button>

        </div>

    </div>
</div>